<div class="nav">
  <!--Logo-->
  <div class="logo">
    <img src="/img/logo.jpeg" alt="">
    <p>REDEEMERS UNIVERSITY VOTING SYSTEM</p>
  </div>

  <div class="profile-info">
    <div class="profile-text">
      <span><%= user.firstname %></span>
      <!-- <span></span> -->
      <% if (user.role_id == 1) { %>
      <span>ADMIN</span>
      <% } %>
    </div>
    <img src="/uploads/<%= user.profile_pic %>">

  </div>

  <a href="/logout">Log out</a>
</div>