<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to the <%= title %> App</p>
  <form action="/login" method="post">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" id="email">
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Login">
    <br>

    <p>Don't have an account? <a href="register">Register</a></p>
  </form>

  <script type="text/javascript">
    let message = "<%= message %>";
    showAlert = function (err) {
      alert(message);
    }
    if (message != "") {
      showAlert(message);
    }
  </script>
</body>

</html>