<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h3>You are logged in to the <%= title %> App</h3>
  <p><%= user.firstname %></p>
  <a href="/users/profile">Update Profile</a>
</body>

</html>