<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>RUN Interactive Voting System</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/home">
                <img id="logo" src="/Image/footer_logo.fw.png" alt="failed to load image" />
            </a>
        </div>
        <nav>
            <ul>
                <a href="login" class="button1">Log out</a>


            </ul>
        </nav>
    </header>

</body>

</html>